body{
    background-color: black;
    margin:20px;
    background-image: url(Images/fire1.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    display: grid;
    justify-content: center;
    align-content: center;
    transition: 500ms ease-in-out;
}
@media (max-width: 1888px){
    body{
        background-color: black;
        background-image: url(../Images/fire2.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
}
@media (max-width: 1688px){
    body{
        background-color: black;
        background-image: url(../Images/fire13.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;

    }
}
@media (max-width: 1488px){
    body{
        background-color: black;
        background-image: url(../Images/fire3.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;

    }
}
@media (max-width: 1288px){
    body{
        background-color: black;
        background-image: url(../Images/fire4.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;

    }
}
@media (max-width: 1188px){
    body{
        background-color: black;
        background-image: url(../Images/fire5.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 1088px){
    body{
        background-color: black;
        background-image: url(../Images/fire5.5.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 988px){
    body{
        background-color: black;
        background-image: url(../Images/fire6.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 988px){
    body{
        background-color: black;
        background-image: url(../Images/fire7.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 888px){
    body{
        background-color: black;
        background-image: url(../Images/fire8.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 788px){
    body{
        background-color: black;
        background-image: url(Images/fire9.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 688px){
    body{
        background-color: black;
        background-image: url(Images/fire1.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
