body{
    transition: 500ms ease-in-out;
    background-color: black;
}
.container{
    width:95vw;
    height: 95vh;
    margin: 0 auto;
    background-image: url(Images/fire1.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.direction{
    position:fixed;
    align-items: center;
    margin:1vh;
    padding-left: 1vh;
    left:0vw;
    top:41vh;
    z-index: 4;
    font-size: 4vh;
    color: grey;
    background-color:rgb(0,0,0,0.3);
    width:12vh;
    height:20vh;


}
@media (max-width: 1400px){
    .container{
        background-image: url(Images/fire2.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
    }
}
@media (max-width: 1350px){
    .container{
        background-image: url(Images/fire13.jpg) ;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:cover;
    }
}
@media (max-width: 1300px){
    .container{
        background-image: url(Images/fire3.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
}
@media (max-width: 1200px){
    .container{
        background-image: url(Images/fire4.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
}
@media (max-width: 1100px){
    .container{
        background-image: url(Images/fire5.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
}
@media (max-width: 1000px){
    .container{
        background-image: url(Images/fire5.5.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
}
@media (max-width: 900px){
    .container{
        background-image: url(Images/fire6.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 800px){
    .container{
        background-image: url(Images/fire7.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 700px){
    .container{
        background-image: url(Images/fire8.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 600px){
    .container{
        background-image: url(Images/fire9.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
}
@media (max-width: 500px){
    .container{
        background-image: url(Images/fire1.jpg) ;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
    .direction{
        display: none;
    }
}
