body {
    background-image: url(Images/b3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
}
.container{
    display: grid;
    grid-template-columns: 12 1fr;
    row-gap:20px;
    margin:20px;
}
.leftbox{
    grid-column-start: 2;
    grid-column-end: 4;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(100, 22, 27, 0.7);
    margin-left: 40px;
}
.rightbox{
    grid-column-start: 4;
    grid-column-end: 11;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 100px;
    background-color: rgb(20, 15, 15, 0.6);
}
a{
    color:white;
    font-size: 2em;
    font-family: "Amatic SC", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    height: fit-content;
}

p{
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
}
.title{
    color: white;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
      
}
.header{
    color:rgb(221, 219, 203);
    font-size: 3em;
    padding-left:20px;
    padding-right:20px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}
ul{
    list-style-type: none;
    width: fit-content;
    margin-bottom: 7px;
}
.sublist ul li{
    line-height:1;
    display:inline-block;
    margin-right:20px;
    grid-column-start: 4;
    grid-column-end: 8;

}
.sublist{
    line-height: 1px;
    margin:4px;
}
.assignment{
    margin-bottom:1vh;
    margin-top: 4vh;;
    font-size: 3em;
    list-style-type: none;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(171, 86, 6);
}

@media (max-width: 768px){
    body { 
        transition: 1500ms;
        background-image: url(Images/b1.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(150, 197, 176);
    }
    .leftbox{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color:rgb(27, 154, 170);
        align-content: center;
        justify-content: center;
        margin-left: 0px;
    }
    .rightbox{
        width: 100%;
        height: 100%;
        margin-right: 0px;
        background-color: rgb(150, 197, 176);
    }
    .header{
        color:white;
        font-size: 35px;
        padding-left:20px;
        padding-right:20px;
        
    }
    .title{
        font-size: 3em;
        text-align: center;
            font-family: "Spicy Rice", serif;
            font-weight: 400;
            font-style: normal;
          
    }
    a{
        color:white;
        font-size: 1.5em;
    }
    .assignment{
        color:black;
        font-size: 2.5em;
    }
}