body {
    background-color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap:30px;
    margin:20px;
}
.leftbox{
    background-image: url(Images/b3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    box-shadow: 0 0 8px 8px white inset;
    height: 10em;
    padding-top: 0.5em;

    grid-column: 1 / 4;
    background-color:rgb(100, 22, 27, 0.7);
}
.middlebox{
    padding-left: 20px;
    grid-column: 4 / 8;
    height: 100%;
    /* background-color: rgb(20, 15, 15, 0.6); */
}
.rightbox{
    grid-column: 8 / 13;
    padding-left: 20px;
    height: 100%;
    /* background-color: rgb(20, 15, 15, 0.6); */
}
a:link{
    display: flex;
    height: fit-content;
    color: cadetblue;
    font-size: 0.7em;
    font-family: "Poppin", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;   
    line-height: 1.5rem; 
}
a:hover {
    text-decoration: underline;
  }

.title{
    /* color:rgb(171, 86, 6); */
    color:maroon;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
      
}
.header{
    /* color:rgb(221, 219, 203); */
    color: white;
    font-size: 3rem;
    padding-left:20px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#posters{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    margin-right: 2rem;
    grid-auto-flow: row;
}
.assignment{
    font-size: 1.5rem;
    list-style-type: none;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* color: rgb(171, 86, 6); */
    color: maroon;
    padding-bottom: 1rem;
}

@media (max-width: 768px){
    body { 
        transition: 1500ms;
        background-color:white;
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap:30px;

    }
    .leftbox{
        width: 100%;
        height: 4em;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .rightbox{
        padding-left: 20px;
        height: 100%;
        /* background-color: rgb(20, 15, 15, 0.6); */
    }
    
    .header{
        color:white;
        font-size: 2.5rem;
        
    }
    .title{
        font-size: 4rem;
        text-align: center;
        font-family: "Amatic SC", serif;
        font-weight: 700;
        font-style: normal;
          
    }
    .assignment{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
}