body {
    background-color:aliceblue;
    margin: 0 auto;
    padding: auto;
    width: 700px;
    max-width: 700px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify
}
a{
    color:coral
}

p{
    line-height: 2
    letter-spacing: 1px
}
img {
    width: 100%
}
h2{
    text-align: center
}