body{
    background:#efefef;
    margin: 20vh auto;
    height:fit-content;
    width:fit-content;
  }

  .container{
    height:95vh;
    width:95vh;
    transform:rotate(-45deg);
    position: relative;
  }
.back{
    background: url(Images/pexels-anete-lusina-6331082.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position:fixed;
    display: inline-block;
   
    height: 95vh;
    width: 95vh;
}

.heart{
    background-image: url(Images/aurora-heart.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:cover;    
    

    height:74vh;
    width:40vh;

    bottom:0vw;
    right:18vh;

    display: inline-block;
    position: fixed;
    z-index: 2;
}
img{
  display: inline-block;
  position:absolute;
  transform: rotate(45deg);
  
  bottom:-3vh;
  right:39vh;
  transform:scale(1.5) rotate(45deg);
  z-index: 2;
}
.container h1{
  top:-2vh;
  right:36vh;

  width:fit-content;

  display:inline-block;
  position:absolute;
  z-index: 4;
}
.container h2{
    bottom:68vh;
    right:-1vh;
    width:90vh;
    font-weight:400;
  
    display:inline-block;
    position:absolute;
    z-index: 4;
}
  .title{
    text-align: center;

    color: white;
    font-size: 25vh;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1px;
    z-index: 4;
  }
 .album{
    color:white;
    text-align: left;

    font-size:5vh;
    line-height:9vh;

    font-family: "trajan-pro-3", serif;
    font-weight: 400;
    font-style: normal;
    transform: rotate(90deg);
    transform-origin: bottom left;
    z-index: 4;
 }
  
  
  .info{
    position:absolute;
    color:white;

    font-size:5vh;
    font-family: "trajan-pro-3", serif;
    font-weight: 500;
    font-style: normal;
  }
  .date{
    text-align:left;
    margin-right: 0vw;
    line-height:1vh;
    position:absolute;

    left: 3vh;
    bottom: 16vh;

    font-size: 9vh;
    transform: rotate(45deg);
    
  }
  .location{
    text-align: center;
    margin-left:0vw;
    line-height:6vh;
    position: absolute;

    left: 5vh;
    top: 60vh;
    transform: rotate(45deg);
    
  }



  