body{
  background-color:antiquewhite;
  margin:20vh auto;
  height: fit-content;
  width: fit-content;
}
.return{
  left: 50px;
  top:30px;
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0vh;
  text-align: left;
  display: inline;
  color: antiquewhite;
  display: inline-block;
  position:fixed;
}
.container{
  height:95vh;
  width:95vh;
  
  position: relative;
  transform:rotate(-45deg);
}
.aurora{
  display: none;
  top:30%;
  position:absolute;
  z-index: -1;
  transition: 1000ms;
}
.back{
  background: url(../Images/redbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position:absolute;
 
  height: 95vh;
  width: 95vh;
 
}
.title{
  text-align: center;

  color: white;
  font-size: 31vh;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0vh;

  top:16vh;
  width:95vh;

  display:inline-block;
  position:absolute;
  z-index: 6;
}
.album h2{
  position: absolute;
  display: inline-block;

  width:70vh;
  height:fit-content;
  right:2vh;
  bottom:-18vh;

  color:white;
  text-align: right;
  font-size:5vh;
  line-height:9vh;

  font-family: "trajan-pro-3", serif;
  font-weight: 400;
  font-style: normal;
  transform: rotate(90deg);
  transform-origin: top right;
  z-index: 6;
}
.info{
  position:absolute;
  color:white;

  font-size:5vh;
  font-family: "trajan-pro-3", serif;
  font-weight: 500;
  font-style: normal;
}
.date{
  text-align:left;
  line-height:1vh;
  position:absolute;

  left: 3vh;
  bottom: 19vh;

  font-size: 9vh;
  transform: rotate(45deg);  
}
.location{
  text-align: center;
  line-height:6vh;
  position: absolute;

  left: 11vh;
  bottom: 48vh;
  transform: rotate(45deg);
  transform-origin: bottom left;
}
.heart{
  background-image: url(../Images/aurora-heart.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size:cover;    
  

  height:65vh;
  width:35vh;

  bottom:0vw;
  right:24vh;

  display: inline-block;
  position: fixed;
  z-index: 2;
}
.container:hover ~ .return{
  color:black;
  transition: 1500ms;

}
.container:hover{
  transform: rotate(0deg);
  height: 80vh;
  top:-10vh;
  position: relative;
  width:99vw;
}
.container:hover .aurora{
  display: inline-block;
  transition: 1500ms;
  position: absolute;
  right:1vh;
  top:0vh;
  height: 100vh;
}
.container:hover .back{
  display: none;
}
.container:hover .title{
  top:94vh;
  transition: 1500ms;
   position:absolute;
   right:-6vw;
}
.container:hover .album h2{
  transform: rotate(0deg);
  top:6vh;
  transition: 1500ms;
  position:absolute;
  right:3vw;
  text-align: right;
}
.container:hover .date{
  position:absolute;
  transform: rotate(0deg);
  transition: 1500ms;
  text-align: left;

  top:30vw;
  left:86vw;

  width:19vw;
  height: 10vh;
  font-size: 3vw;
}
.container:hover .location{
  transform: rotate(0deg);
  transition: 1500ms;
  top: 46vh;
  left:60vw;
  width: 36vw;
  text-align: right;
  position: absolute;
}
.container:hover .heart{
  display:none;
}