body{
    background:#efefef;
    max-height: 100vh;
    margin: 10px auto;
  }
  
  .container{
    background-image: url(../Images/pexels-anete-lusina-6331082.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    position:fixed;
    
    margin: 0px auto; /* 10px on the top and bottom, "auto" to center it on either side */
  
    height:95vh;
    width:100vw;
}
.title{
  display: inline-block;
  color: white;
  font-size: 35vh;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1px;
  top:20vh;
  left: 2vw;
  position: absolute;
  z-index: 2;
}
.heart{
  background-image: url(../Images/aurora-heart.png) ;
    background-repeat: no-repeat;
    background-position: right top;
    background-size:contain;
    position:absolute;
    
    height:80vh;
    width:60vh;
    bottom:0vw;
    right:4vw;
}

.album{
    color:white;
    display: inline-block;
    width: 100vw;
    position: absolute;
    text-align: left;
    z-index: 2;
    margin: 0px;

    top: 0vh;
    left:2vw;
    font-size:5vh;
    line-height:6vh;

    font-family: "trajan-pro-3", serif;
    font-weight: 400;
    font-style: normal;
  }

  .data{
    display:inline-block;
    position: absolute;

    width:80vw;
    height:20vh;
    line-height: 10vh;

    bottom: 5px;
    left:2vw;

    z-index: 4;
  }
  
  .info{
    display: inline-block;
    position:absolute;
    color:white;
   
    height:20vh;

    font-size:5vh;
    font-family: "trajan-pro-3", serif;
    font-weight: 500;
    font-style: normal;
  }
  .date{
    text-align:left;
    margin-right: 10vw;
    padding-right: 12vw;
    width:30vw;
    line-height:5vh;
    position:absolute;
    
  }
  .location{
    text-align: right;
    margin-left:10vw;
    padding-left: 12vw;
    width:40vw;
    line-height:5vh;
    position: absolute;
    
  }