body{
  background-color:antiquewhite;
  margin:0 0;
}
.container{
  height:100vh;
  width:100vh;
  margin: 10px auto;
  padding:20px;
  top: 27vh;
  
  position: relative;
  transform:rotate(-45deg);
}
.heart{
  background-image: url(../Images/aurora-heart.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size:cover;    
  

  height:73vh;
  width:39vh;

  bottom:2.5vh;
  right:21vh;

  display: inline-block;
  position: absolute;
}
.back{
  background: url(../Images/redbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position:absolute;
 
  height: 100vh;
  width: 100vh;
 
}
.album h2{
  position: absolute;
  display: inline-block;

  width:70vh;
  height:fit-content;
  right:5vh;
  bottom:-15vh;

  color:white;
  text-align: right;
  font-size:5vh;
  line-height:9vh;

  font-family: "trajan-pro-3", serif;
  font-weight: 400;
  font-style: normal;
  transform: rotate(90deg);
  transform-origin: top right;
  z-index: 6;
  pointer-events:all;
}

.title{
  text-align: center;

  color: white;
  font-size: 35vh;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0vh;

  top:18vh;
  width:100vh;

  display:inline-block;
  position:absolute;
  z-index: 6;
}
.aurora{
  display: inline-block;
  top:30%;
  position:absolute;
  z-index: -1;
  opacity: 0;
}

.info{
  position:absolute;
  color:white;

  font-size:5vh;
  font-family: "trajan-pro-3", serif;
  font-weight: 500;
  font-style: normal;
}
.date{
  text-align:left;
  line-height:1vh;
  position:absolute;

  left: 9vh;
  bottom: 21vh;

  font-size: 9vh;
  transform: rotate(45deg);  
}
.location{
  text-align: center;
  line-height:6vh;
  position: absolute;

  left: 12vh;
  bottom: 46vh;
  transform: rotate(45deg);
  transform-origin: bottom left;
}
.container:hover{
  transform: rotate(0deg);
  height: 100vh;
  top:0vh;
  position: relative;
  width:100vw;
}
.container:hover .aurora{
  opacity: 1;
  transition: 1500ms;
  position: absolute;
  right:1vh;
  top:0vh;
  height: 100vh;
}
.container:hover .back{
  display: none;
}

.container:hover .date{
  transform: rotate(0deg);
  transition: 1500ms;
  text-align: left;
  top:26vw;
  position:absolute;
  left:8vw;
  width:19vw;
  height: 10vh;
}
.container:hover .location{
  transform: rotate(0deg);
  transition: 1500ms;
  top: 46vh;
  left:64vw;
  width: 36vw;
  text-align: right;
  position: absolute;
}
.container:hover .album h2{
  transform: rotate(0deg);
  top:6vh;
  transition: 1500ms;
  position:absolute;
  right:3vw;
  text-align: right;
}
.container:hover .heart{
  display:none;
}

.container:hover .title{
  top:22vh;
  transition: 1500ms;
   position:absolute;
   left:0vw;
}

